<!DOCTYPE html>
<html>
<head>
  <title>Flix</title>
 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:100,400" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<% if flash[:notice] %>
  <div class='flash notice'>
      <%= flash[:notice] %>
  </div>
<% end %>

<div id="wrapper">

  <div id="container">
    <section id="sidebar">
      <%= render "layouts/sidebar" %>
    </section>
    <section id="content">
      <%= yield %>
    </section>
  </div>

</div>

<%= render "layouts/footer" %>
</body>
</html>
